:root {
	--primary-color: #032DFF;
	--primary-color--hover: #0026E3;
	--color-text: #2E2C2F;
	--color-text-hover: #555555;
	--hero-background-color: #5EFC8D;
	--color-profit: #2DA700;
	--color-loss: #A71400;
	--tag-button-color: #E9E9E9;
	--tag-button-hover-color: #D2D2D2;
}