.transparent-button {
	color: var(--text-color);
	font-size: 0.9rem;
	font-weight: 700;
	margin: 0.35rem 1.15rem;
}

.transparent-button:hover {
	color: var(--primary-color);
}

.header__current-page {
	color: var(--primary-color);
}

.primary-button__large {
	color: white;
	font-size: 1.25rem;
	font-weight: 700;
	background: var(--primary-color);
	border-radius: 6px;
	padding: 0.35rem 1.15rem;
}

.primary-button__large:hover {
	background: var(--primary-color--hover);
}


.primary-button__small {
	color: white;
	font-size: 0.6rem;
	font-weight: 700;
	background: var(--primary-color);
	border-radius: 6px;
	padding: 0.35rem 1.15rem;
}

.transparent-button__mobile {
	color: var(--text-color);
	font-size: 2rem;
	font-weight: 700;
	margin: 0.35rem 1.15rem;
}

.transparent-button__mobile:hover {
	color: var(--primary-color);
}