.portfolio {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.portfolio__title {
	display: flex;
	justify-content: space-between;
}

.portfolio__market-value-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.portfolio__total-gain-row {
	display: flex;
	justify-content: space-between;
}

.portfolio__divider-line {
	width: 100%;
	border-top: 1px solid black;
}

.portfolio__total-gain-container {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.portfolio__table {
	table-layout: fixed;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

tbody>tr {
	border-bottom: 1px solid black;
}

td {
	padding: 0.4rem 0;
}

.stock__edit-button-container {
	display: flex;
	justify-content: end;
}

.add-stock-reminder__text {
	display: flex;
	justify-content: center;
}

.stock__total-gain-number--positive {
	color: var(--color-profit);
}

.stock__total-gain-number--negative {
	color: var(--color-loss);
}

.stock__total-gain-number--neutral {
	color: black;
}

.stock__total-gain-number--positive::before {
	content: '+';
}

.stock__total-gain-number--neutral::before {
	content: '';
}

.stock__total-gain-percent--positive {
	color: var(--color-profit);
}

.stock__total-gain-percent--negative {
	color: var(--color-loss);
}

.stock__total-gain-percent--neutral {
	color: var(--color-text);
}

.stock__total-gain-percent--positive::before {
	content: '(+';
}

.stock__total-gain-percent--neutral::before {
	content: '(';
}

.stock__total-gain-percent--negative::before {
	content: '(';
}

.stock__total-gain-percent--neutral::after {
	content: '%)';
}

.stock__total-gain-percent--positive::after {
	content: '%)';
}

.stock__total-gain-percent--negative::after {
	content: '%)';
}

@media screen and (max-width: 550px) {
	
}